.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 2.8rem;
  line-height: 1.5;
  color: #FFD15B;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 16.39px;
  letter-spacing: 0.09em;
  color: #7A7A7A;
}

.header__content__clear {
  font-size: 35px;
  color: #7A7A7A;
}
.header__content__clear:hover {
  color: #1B1B1B;
}
.header__content__input {
  color: #7A7A7A;
}

.recipes-count {
  font-family: "Anton", sans-serif;
  font-size: 21px;
  text-wrap: nowrap;
  color: #1B1B1B;
}

.no-recipes {
  text-align: center;
}
.no-recipes__icon {
  font-size: 60px;
  color: #7A7A7A;
}
.no-recipes__text {
  font-size: 1.2rem;
  color: #1B1B1B;
}
.no-recipes__text-nowrap {
  text-wrap: nowrap;
}

.card {
  --bs-card-subtitle-color: #7A7A7A;
}

.badge {
  font-weight: 400;
  line-height: 1.4;
  color: #1B1B1B;
  text-align: center;
}

.ingredients-list {
  line-height: 19px;
  font-weight: 500;
}
.ingredients-list .list-group-item {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.ingredients-list__quantity {
  font-weight: 400;
  color: #7A7A7A;
}

body {
  background-color: #E5E5E5;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/background.avif");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 670px;
}
.header__form {
  margin-top: 160px;
}
@media (max-width: 768px) {
  .header__form {
    margin-top: 125px;
  }
}
.header__content {
  position: relative;
  width: 80%;
  max-width: 954px;
  background-color: white;
  border-radius: 11px;
  padding: 10px;
}
.header__content__clear {
  width: 35px;
  position: absolute;
  right: 90px;
  background: none;
  border: none;
}
.header__content__input {
  width: 100%;
  height: 60px;
  padding: 0 45px 0 20px;
  margin-right: 20px;
  border: 1px solid transparent;
  border-radius: 11px;
  text-overflow: ellipsis;
}
.header__content__input:hover {
  border: 1px solid #C6C6C6;
}
.header__content__input:focus {
  box-shadow: none;
  border: 1px solid #1B1B1B;
}
.header__content__btn {
  width: 52px;
}

.custom-select {
  position: relative;
  width: 195px;
}
.custom-select #announcement {
  opacity: 0;
}
.custom-select__label,
.custom-select ul {
  display: block;
  padding: 1.1rem 1rem;
  width: 100%;
  text-align: left;
  background: #ffffff;
  border: 0;
  border-radius: 11px;
}
.custom-select__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 56px;
  transition: all 0.1s ease-in;
}
.custom-select__label::before {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
  right: 0.8rem;
}
.custom-select__label:hover {
  text-shadow: 0px 0px 1px #000000;
}
.custom-select__label:focus-visible {
  outline: 1px solid #1B1B1B;
}
.custom-select ul {
  color: #1B1B1B;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.custom-select ul li {
  cursor: pointer;
  transition: all 0.1s ease-in;
  position: relative;
  /*
  &::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    vertical-align: middle;
    font-weight: 900;
    position: absolute;
    right: .8rem;
    opacity: 0;
    transition: opacity .300s ease-out;
  }
    */
}
.custom-select ul li:hover {
  font-weight: 700;
}
.custom-select ul li.active::before {
  opacity: 1;
}
.custom-select__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 259px;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top left;
  transition: all 0.3s ease-in;
  background-color: #ffffff;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  pointer-events: none;
  overflow: hidden;
}
.custom-select__content.active {
  opacity: 1;
  transform: scale(1, 1);
  pointer-events: auto;
}
.custom-select__content__search {
  margin-bottom: 15px;
  width: 90%;
  border-radius: 2px;
  border: 1px solid #C6C6C6;
  color: #7A7A7A;
  padding: 5px 35px 5px 10px;
}
.custom-select__content__search:focus {
  box-shadow: none;
  border: 1px solid #7A7A7A;
  color: #1B1B1B;
}
.custom-select__content__clear {
  width: 20px;
  position: absolute;
  right: 20px;
  top: 2px;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #7A7A7A;
  padding: 0;
}
.custom-select__content__clear:hover {
  color: #1B1B1B;
}
.custom-select__content__list {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
.custom-select__content__list::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
.custom-select__content__list__selected-item {
  background-color: #FFD15B;
  padding: 0.5rem 1rem;
}
.custom-select__content__list__selected-item:last-child {
  margin-bottom: 5px;
}
.custom-select__content__list__item {
  padding: 0.2rem 1rem;
}

.btn {
  height: 52px;
  background-color: #1B1B1B;
  color: white;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFD15B;
}
.btn:hover, .btn:focus, .btn:focus-visible {
  background-color: #FFD15B;
  color: #1B1B1B;
}
.btn:focus, .btn:focus-visible {
  border: 1px solid #1B1B1B;
}
.btn-yellow {
  background-color: #FFD15B;
  color: #1B1B1B;
}
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:focus-visible {
  background-color: #1B1B1B;
  color: #FFD15B;
}
.btn-yellow:focus, .btn-yellow:focus-visible {
  border: 1px solid #FFD15B;
}

.no-recipes {
  min-height: 50vh;
  padding: 0 25px;
}

.custom-select-container {
  gap: 60px;
}

.search-tags-container {
  gap: 10px 20px;
}
.search-tags-container .search-tag {
  gap: 20px;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}
.search-tags-container .search-tag__icon {
  font-size: 2rem;
}
.search-tags-container .search-tag:hover {
  background-color: #FFD15B;
  color: #1B1B1B;
  text-shadow: 0px 0px 1px #000000;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: space-between;
  row-gap: 65px;
}
@media (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
  }
}
@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards .card {
  width: 380px;
  height: 780px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 20px;
}
@media (max-width: 1400px) {
  .cards .card {
    width: 100%;
  }
}
.cards .card-img-top {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cards .card-badge {
  width: 65px;
  position: absolute;
  top: 21px;
  right: 20px;
  padding: 5px 15px;
  background-color: #FFD15B;
  border-radius: 14px;
}
.cards .card-body {
  row-gap: 35px;
  padding: 25px;
}
.cards .card-text-description {
  height: 120px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
}
.cards .card-subtitle {
  margin-bottom: 15px;
}
.cards .card .list-group-item {
  width: 50%;
  border: none;
  padding: 0;
}
.cards .card .ingredients-list {
  row-gap: 20px;
}
.cards .card:focus, .cards .card:focus-visible {
  outline: 1px solid #1B1B1B;
}/*# sourceMappingURL=main.css.map */