.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 2.8rem;
  line-height: 1.5;
  color: #FFD15B;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 16.39px;
  letter-spacing: 0.09em;
  color: #7A7A7A;
}

.header__content__clear {
  font-size: 35px;
  color: #7A7A7A;
}
.header__content__clear:hover {
  color: #1B1B1B;
}
.header__content__input {
  color: #7A7A7A;
}

.recipes-count {
  font-family: "Anton", sans-serif;
  font-size: 21px;
  text-wrap: nowrap;
  color: #1B1B1B;
}

.no-recipes {
  text-align: center;
}
.no-recipes__icon {
  font-size: 60px;
  color: #7A7A7A;
}
.no-recipes__text {
  font-size: 1.2rem;
  color: #1B1B1B;
}
.no-recipes__text-nowrap {
  text-wrap: nowrap;
}

.card {
  --bs-card-subtitle-color: #7A7A7A;
}

.badge {
  font-weight: 400;
  line-height: 1.4;
  color: #1B1B1B;
  text-align: center;
}

.ingredients-list {
  line-height: 19px;
  font-weight: 500;
}
.ingredients-list .list-group-item {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.ingredients-list__quantity {
  font-weight: 400;
  color: #7A7A7A;
}

body {
  background-color: #E5E5E5;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/background.avif");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 670px;
}
.header__form {
  margin-top: 160px;
}
@media (max-width: 768px) {
  .header__form {
    margin-top: 125px;
  }
}
.header__content {
  position: relative;
  width: 80%;
  max-width: 954px;
  background-color: white;
  border-radius: 11px;
  padding: 10px;
}
.header__content__clear {
  width: 35px;
  position: absolute;
  right: 90px;
  background: none;
  border: none;
}
.header__content__input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin-right: 20px;
  border: 1px solid transparent;
  border-radius: 11px;
  text-overflow: ellipsis;
}
.header__content__input:hover {
  border: 1px solid #C6C6C6;
}
.header__content__input:focus {
  box-shadow: none;
  border: 1px solid #1B1B1B;
}

.custom-select {
  position: relative;
  width: 195px;
}
.custom-select #announcement {
  opacity: 0;
}
.custom-select button,
.custom-select ul {
  display: block;
  padding: 1.1rem 1rem;
  width: 100%;
  text-align: left;
  background: white;
  border: 0;
  border-radius: 11px;
}
.custom-select button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.custom-select button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
  right: 0.8rem;
}
.custom-select button:focus-visible {
  outline: 0;
  box-shadow: 0 0 5px 2px rgba(251, 146, 60, 0.7) inset;
}
.custom-select__content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 10rem;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top left;
  transition: all 0.3s ease-in;
  pointer-events: none;
}
.custom-select__content.active {
  opacity: 1;
  transform: scale(1, 1);
  pointer-events: auto;
}
.custom-select ul {
  color: #3f403b;
  top: 4.8rem;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin-top: 0.1rem;
}
.custom-select ul li {
  padding: 0.6rem 0.5rem;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
  transition: all 0.3s ease-in;
  position: relative;
}
.custom-select ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
  right: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.custom-select ul li:hover, .custom-select ul li.current {
  background: #e6e6e6;
}
.custom-select ul li.active {
  box-shadow: 0 0 0 2px rgba(251, 146, 60, 0.7);
}
.custom-select ul li.active::before {
  opacity: 1;
}

.btn {
  width: 52px;
  height: 52px;
  background-color: #1B1B1B;
  color: white;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFD15B;
}
.btn:hover, .btn:focus, .btn:focus-visible {
  background-color: #FFD15B;
  color: #1B1B1B;
}
.btn:focus, .btn:focus-visible {
  border: 1px solid #1B1B1B;
}

.no-recipes {
  min-height: 50vh;
  padding: 0 25px;
}

.custom-select-container {
  gap: 60px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: space-between;
  row-gap: 65px;
}
@media (max-width: 1400px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
  }
}
@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards .card {
  width: 380px;
  height: 780px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 20px;
}
@media (max-width: 1400px) {
  .cards .card {
    width: 100%;
  }
}
.cards .card-img-top {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cards .card-badge {
  width: 65px;
  position: absolute;
  top: 21px;
  right: 20px;
  padding: 5px 15px;
  background-color: #FFD15B;
  border-radius: 14px;
}
.cards .card-body {
  row-gap: 30px;
  padding: 25px;
}
.cards .card-text-description {
  height: 120px;
  overflow: hidden;
}
.cards .card-subtitle {
  margin-bottom: 15px;
}
.cards .card .list-group-item {
  width: 50%;
  border: none;
  padding: 0;
}
.cards .card .ingredients-list {
  row-gap: 10px;
}/*# sourceMappingURL=main.css.map */