// _header.scss

.header {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../assets/image/background.avif');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 670px;

  &__form {
    margin-top: 160px;

    @include sm {
      margin-top: 125px;
    }
  }

  &__content {
    position: relative;
    width: 80%;
    max-width: 954px;
    background-color: white;
    border-radius: 11px;
    padding: 10px;

    &__clear {
      width: 35px;
      position: absolute;
      right: 90px;
      background: none;
      border: none;
    }

    &__input {
      width: 100%;
      height: 60px;
      padding: 0 45px 0 20px;
      margin-right: 20px;
      border: 1px solid transparent;
      border-radius: 11px;
      text-overflow: ellipsis;

      &:hover {
        border: 1px solid $color-light-grey;
      }

      &:focus {
        box-shadow: none;
        border: 1px solid $color-black;
      }
    }

    &__btn {
      width: 52px;
    }
  }
}
