// _header.scss

.header {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../assets/image/background.avif');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 670px;

  &__form {
    margin-top: 160px;
  }
  
  &__input {
    width: auto;
  }
}
