// _typography.scss

// general typography
body {
  font-family: $font-primary;
}

h1 {
  font-family: $font-heading;
  font-size: 2.8rem;
  line-height: 1.5;
  color: $color-yellow;
}

h2 {
  font-family: $font-heading;
  font-size: 1.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 16.39px;
  letter-spacing: 0.09em;
  color: $color-grey;
}

// specific typography
.header__input {
  color: $color-grey;
}

.recipes-count {
  font-family: $font-heading;
  font-size: 21px;
  text-wrap: nowrap;
}

.card {
  // bootstrap specific
  --bs-card-subtitle-color: #7A7A7A;
}

.badge {
  font-weight: 400;
  line-height: 1.4;
  color: $color-black;
  text-align: center;
}

.ingredients-list {
  line-height: 19px;
  font-weight: 500;

  .list-group-item {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  &__quantity {
    font-weight: 400;
    color: $color-grey;
  }
}
