// _index.scss

.no-recipes {
  min-height: 50vh;
  padding: 0 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: space-between;
  row-gap: 65px;

  @include xl {
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
  }

  @include md {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 380px;
    height: 780px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    border: none;
    border-radius: 20px;

    @include xl {
      width: 100%;
    }

    &-img-top {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &-badge {
    width: 65px;
    position: absolute;
    top: 21px;
    right: 20px;
    padding: 5px 15px;
    background-color: $color-yellow;
    border-radius: 14px;
    }

    &-body {
      row-gap: 30px;
      padding: 25px;
    }

    &-text {
      &-description {
        height: 120px;
        overflow: hidden;
      }
    }

    &-subtitle {
      margin-bottom: 15px;
    }

    .list-group-item {
      width: 50%;
      border: none;
      padding: 0;
    }

    .ingredients-list {
      row-gap: 10px;
    }
  }
}
