// _mixins.scss

@mixin center-flex($gap: 0px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin grid($rows: auto-fill, $columns: auto-fill, $gap: 0px) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin grid-columns($columns: auto-fill, $width: 1fr, $gap: 0px) {
    display: grid;
    grid-template-columns: repeat($columns, $width);
    gap: $gap;
}

@mixin position-fix-center {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

 // disable scroll bar
 @mixin disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */

    &::-webkit-scrollbar {
        background: transparent; /* Chrome/Safari/Webkit */
        width: 0px;
    }
}

// focus border
@mixin focus-border {
    outline: 2px solid $color-yellow;
    border: 1px solid $color-black;
}

// breakpoint mixins

// extra small devices
@mixin xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
 }
 
// small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }
 
 // medium devices
 @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
 }
 
 // large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
 }
 
 // extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
 }
